<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUpLoadService" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1630/UpLoadService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUpLoadService" contract="WcfBatchRequest.IUpLoadService"
                name="BasicHttpBinding_IUpLoadService" />
        </client>
    </system.serviceModel>
</configuration>